@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$Darkblue: #252B42;
$Grey : #737373;
$white: #FFFFFF;
$font-family: "Montserrat", sans-serif;

